<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="block_logo">
        </div>
        <div class="login-window">
            <div class="logo_style">
                <img src="images/logo.png" alt="">
                <div class="logo_text">
                    <span>Студия</span>
                    <p>Ремонтов</p>
                </div>
            </div>
            <input type="text" class="input" id="login" placeholder="Логин">
            <input type="password" class="input" id="password" placeholder="Пароль">
            <div class="status" style="opacity: 0;">Статуст авторизации</div>
            <button class="button" id="submit_login">Войти</button>
        </div>
    </div>
</body>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/scripts.js"></script>
</html>