<% include .././layout/header.ejs %>
<div class="p_body_admin">
    <div class="body_l">
        <div class="item_left" id="active_item_left">
            <img src="images/document.png" alt="">
            <p>Сметы</p>
        </div>
        <div class="item_left">
            <img src="images/material.png" alt="">
            <p>Прайс и материалы</p>
        </div>
        <div class="item_left">
            <img src="images/users.png" alt="">
            <p>Пользователи</p>
        </div>
    </div>
    <div class="body_r">
        <div class="body_title">
            <div class="title_name">Сметы</div>
            <div class="title_menu">
                <ul>
                    <li id="active_menu_item">Все сметы</li>
                    <li>Создать смету</li>
                </ul>
            </div>
        </div>
        <div class="body_content">
            <div class="body_flex">
                <div class="body_column">
                    <h1>Раздел в разработке ...</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<% include .././layout/modalWindows.ejs %>
<% include .././layout/footer.ejs %>