<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= data.typePanel %></title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="page_content">
            <div class="p_header">
                <div class="h_logo">
                    <div class="logo_style">
                        <img src="/images/logo.png" alt="" width="50" height="62">
                        <div class="logo_text">
                            <span style="font-size: 30px">Студия</span>
                            <p style="font-size: 30px">Ремонтов</p>
                        </div>
                    </div>
                </div>
                <div class="h_content">
                    <%= data.typePanel %> модуля «Смета»
                </div>
                <div class="h_user">
                    <p><%= data.user %></p>
                    <img src="/images/exit.png" alt="">
                </div>
            </div>