<div class="background_modal" style="display: none;">
    <div class="modal_window">
        <div class="modal_title">
            <div class="title_left"></div>
            <div class="title_right" id="close_modal">×</div>
        </div>
        <div class="modal_body">

        </div>
    </div>
</div>
<div class="SelectSpecial" style="display: none;">
    <input type="text" placeholder="Начните ввод">
    <ul></ul>
</div>